@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

/* shared style  */
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark2{
   color: rgba(66, 66, 66, 1);
}
.dark3{
    color:rgba(114, 114, 114, 1);
}
.primary-color{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

main, footer{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}

/* navbar style  */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    
}
.nav-items{
    list-style: none;
    margin-right: 2rem;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style  */
.banner-text{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.banner-image{
    width:100% ;
    margin: 20px 0;
}

/* Team and feature  */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 70px;
    max-width: 535px;
}

#quick-list{
    font-weight: 500;
}

/* some facts */
.some-fact{
    margin-top: 0px;
}
.fact-description, .sponsor-description{
    max-width: 545px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-box{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ff900e;
    border-radius: 8px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 7px;
    color: rgba(66, 66, 66, 1);
}
.fact-name{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
}
/* sponsors section  */
    .sponspors-companies{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       
    }
    .sponspors-companies img{
        filter: grayscale(100%);
    }

    /* footer section  */
    footer p{
        margin-top: 130px;
        background-color:  rgba(255, 144, 14, 0.1);
        text-align: center;
        padding: 40px 0px;
    }

    /* features section  */
    .features{
        gap: 140px;
    }
    .features h1{
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }
    .features-box{
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .features-box h3{
        margin: 10px;
    }
    #experience-badge{
        position: relative;
        padding: 30px;
        top: -110px;
        left: -90px;
    }
    .experience-years{
        font-size: 4rem;
    }

    /* responsive for mobile  */

@media screen and (max-width:576px) {
    .navbar, .nav-links,.features, .team{
        flex-direction: column;
    }
    .team-img-container,
    .fact-container,
    .sponspors-companies
    {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .our-feature{
        margin: 0 auto;
    }
    .sponspors-companies{
        gap: 50px;
    }

    .features img{
        width:98%;
    }
    #experience-badge{
        left: 0;
        top: -80px;
    }
    .experience-years{
        font-size: 2.5rem;
    }
    

    
}

    /* responsive for tab  */
@media screen and (min-width:577px) and (max-width:992px) {
    .team, .features{
        flex-direction: column;
    }
    .our-feature{
        margin: 0 auto;
        margin-left: 11%;
    }
    .fact-container, .sponspors-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .fact-text, .sponspors-info{
        margin-left: 11%;
    }
    .features img{
        width:99%;
    }
     #experience-badge{
        left: 50px;
        top: -80px;
    }
}